/* Milestone 1
Sfruttando gli screen e gli asset in allegato riproduciamo la grafica proposta in maniera statica: utilizzando soltanto HTML e CSS e riproducendo una singola fotografia (usiamo una qualunque immagine a piacimento) */

/* common rules */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  height: 150px;
  background-image: url(./img/wall.png);
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    text-transform: uppercase;
    font-style: italic;
    text-align: center;
    font-size: 50px;
    font-family: "Sometype Mono", monospace;
  }
}

main {
  display: flex;
  flex-grow: 1;
  background-image: url(./img/cork.png);

  .container {
    padding: 0 2rem;

    & > .row {
      margin: 5rem -2rem;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 2rem;

      .card {
        background-color: white;
        display: flex;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        flex-direction: column;
        height: 355px;
        width: 300px;
        padding: 1rem 1rem;
        position: relative;

        .pin {
          position: absolute;
          top: -15px;
          left: 50%;
          transform: translateX(-50%);
        }

        .photo {
          width: 263px;
          height: 263px;
          background-image: url(https://encrypted-tbn3.gstatic.com/licensed-image?q=tbn:ANd9GcRjttr241unhTmPXnd40dHZ5NB4hcOgNUPuz5JG37tiAg03L2Y4zLROZOoa2PuH__yTxxj5IcRqnUCNrsA);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
        }

        .description {
          margin-top: 1rem;
        }
      }

      .card:hover {
        transform: scale(1.1) rotate(10deg);
        z-index: 999999;
      }
    }
  }
}

.container {
  width: 70%;
  margin: auto;
  max-width: 1030px;
}

p {
  font-family: "Edu TAS Beginner", cursive;
}

.col-4 {
  width: calc((100% / 12) * 3);
}
